<div class="content">
    <app-favourites class="">
    </app-favourites>
    <table>
        <tbody>
            <tr class="w-full">
                <td colspan="3" class="text-center">
                    <button (click)="fetchFirstPage()" type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">1</button>
                    <button (click)="fetchPrevPage()" type="button" class="mx-1 mb-10 px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"><</button>
                    <button type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Page {{currentPage}}</button>
                    <button (click)="fetchNextPage()" type="button" class="mx-1 mb-10 px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">></button>
                    <button (click)="fetchLastPage()" type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">{{lastPage}}</button>
                </td>
            </tr>
            @for (meal of mealPage; let index = $index; track meal) {
                <tr *ngIf="index % 3 == 0">
                    <td *ngIf="mealPage[index]"> <app-meal [meal]="mealPage[index]" [size]="2"></app-meal></td>
                    <td *ngIf="mealPage[index + 1]"> <app-meal [meal]="mealPage[index + 1]" [size]="2"></app-meal></td>
                    <td *ngIf="mealPage[index + 2]"> <app-meal [meal]="mealPage[index + 2]" [size]="2"></app-meal></td>
                </tr>
            }
        </tbody>
    </table>
</div>