<div class="content">
    <!-- <app-favourites class="" [favouriteList]="(favourites$ | async)!"> -->
    <app-favourites class="">
    </app-favourites>
    <table>
        <tbody>
            <tr class="w-full">
                <td colspan="3" class="text-center">
                    <button (click)="fetchPage(1)" type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">1</button>
                    <button (click)="fetchPage(currentPageNumber - 1)" type="button" class="mx-1 mb-10 px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"><</button>
                    <button type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-full border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Page {{currentPageNumber}}</button>
                    <button (click)="fetchPage(currentPageNumber + 1)" type="button" class="mx-1 mb-10 px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">></button>
                    <button (click)="fetchPage(lastPageNumber)" type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">{{lastPageNumber}}</button>
                </td>
            </tr>
            @for(meal of mealPage$ | async; track meal.idMeal; let index = $index) {
                <tr>
                    <app-meal [meal]="meal" [size]="2"></app-meal>
                </tr>
            }
        </tbody>
    </table>
</div>