@if (side) {
    <aside id="default-sidebar"
        class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
        aria-label="Sidebar">
        <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 border-r-2 border-gray-300 rounded-lg">
            <ng-icon [svg]="sidebarIcon"></ng-icon>
            <span class="ms-3">{{sidebarLabel}}</span>
            <ul class="space-y-2 font-medium">
                <li>
                    @for (fav of favouriteList$ | async; track fav.idMeal) {
                        <app-meal [meal]="fav" [minimal]="true"></app-meal>
                    }
                </li>
            </ul>
        </div>
    </aside>
} @else {
    <div class="flex justify-center h-full px-3 py-4 overflow-y-auto">
        <ul class="space-y-2 font-medium">
            <li>
                @if (favouriteList$ | async; as favList) {
                    @if (favList.length > 0) {
                        <table>
                            @for (meal of favList; track meal.idMeal) {
                                <tr>
                                    <td>
                                        <app-meal [meal]="meal"></app-meal>
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                    @else {
                        <h1 class="pt-4">oops! ._.'</h1>
                        <h1 class="pt-1">looks like your list is empty! </h1>
                    }
                }
            </li>
        </ul>
    </div>
}