<div class="flex flex-col items-center justify-center text-center">
    <div>
        <img class="h-64 w-64 object-cover rounded-md" src="{{thumbnail}}"/>
    </div>
    <div class="flex flex-col items-center mt-4 max-w-xs text-center">
        <div class="pt-4">
            <h5 class="mb-2 text-xl font-medium leading-tight">{{meal.strMeal}}</h5>
        </div>
        <div class="pt-2">
            <p>Category: {{meal.strCategory}}</p>
        </div>
        <div class="pt-2">
            <p>Area: {{meal.strArea}}</p>
        </div>
    </div>
</div>